:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  direction: rtl;
}

#mainDiv {
  padding: 5vh 20vw;
  text-align: center;
}


body {
  margin: 0;
}

.date {
  direction: ltr;
}

.small {
  color: green;
}

.medium {
  color: orange;
}

.large {
  color: red;
}

.barLogo {
  width: 15%;
  color: black;
  display: flex;
}

.flexItem {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}

.nickname{
  margin: 2%;
}